@{
    ViewBag.Title = "About";
}
<img src="~/logoblack.png" />


<ul class="nav nav-pills">
    <p>  Sudheej Sudhakaran</p>
    <p> Balaji Jayaprakash</p>
    <p> Sarath Kumar Murugaiah</p>
    <p> ArunKumar Velumani</p>
</ul>
<br />
<img src="~/Azurelogo.png" width="50" height="50"/> <img src="~/csharp.jpg" width="50" height="50"/> <img src="~/pythonlogo.png" width="150" height="50"/>
