@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/rootlightblack.png" />
    <p class="lead">Remote Operation on Organizational Telemetry.</p>
    <p><a href="https://en.wikipedia.org/wiki/Machine_learning" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ROOT uses cognitive analysis and machine learning to scan customer data and create a predictive visualization which aims at key areas of client interest.
            Natural language processing is used to tag information into entities and create a visualized model which is useful for predicting client sentiment and works as a recommendation model.
            The recommendation model aims at providing useful insights into customer data, where in key areas of intrest can be targeted.
            Cognitive science and machine learning forms of the core of Root.
        </p>
    </div>
   
    <div class="col-md-4">
        <img src="~/tree.png" />
    </div>
</div>